<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, inital-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <title>All Suspects</title> 
    <body class="bg-gray-900 text-white p-8">
        <a class="cursor-pointer" href="/">
            <button
      class="bg-gray-900 text-center w-48 rounded-2xl h-14 my-6 relative text-white text-xl font-semibold group"
      type="button"
    >
      <div
        class="bg-green-400 rounded-xl h-12 w-1/4 flex items-center justify-center absolute left-1 top-[4px] group-hover:w-[184px] z-10 duration-500"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1024 1024"
          height="25px"
          width="25px"
        >
          <path
            d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"
            fill="#000000"
          ></path>
          <path
            d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
            fill="#000000"
          ></path>
        </svg>
      </div>
      <p class="translate-x-2">Go Back</p>
    </button>
    </a>
        <label class="block pl-1 text-base text-gray-600 font-bold ">Current Users</label>
        <table class="border-collapse border-4 border-sky-500 border-spacing-40 p-2 m-6 ">
        <tr class="bg-sky-600">
            <td class=" text-sm text-center min-w-40  text-gray-200 text-clip">Image</td>
            <td class=" text-sm text-center min-w-40 text-gray-200 text-clip">Name</td>
            <td class=" text-sm text-center min-w-40 text-gray-200 text-clip">Gender</td>
            <td class=" text-sm text-center min-w-40 text-gray-200 text-clip">Password Hash</td>
            <td class=" text-sm text-center min-w-40 text-gray-200 text-clip">Secret</td>
            <td class=" text-sm text-center min-w-40 text-gray-200 text-clip">Delete</td>
        </tr>
        {% for Tuple in Suspects %}
                <tr class="bg-sky-800">
                <td class=" text-sm text-center text-gray-200 text-clip"><img class="m-3 max-h-48 max-w-48" src="{{url_for('get_image', filename=Tuple[5]|e)}}"></td>
                <td class=" text-sm text-center text-gray-200 text-clip">{{ Tuple[1]|e}}</td>
                <td class=" text-sm text-center text-gray-200 text-clip">{{ Tuple[2]|e}}</td>
                <td class=" text-sm text-center text-gray-200 text-clip">{{ Tuple[3]|e}}</td>
                <td class=" text-sm text-center text-gray-200 text-clip">{{ Tuple[4]|e}}</td>
                <td class=""><div class="bg-pink-700 rounded-s-2xl group"><a href="delete/{{ Tuple[0]|e}}"><img class="max-h-16 max-w-16 object-center object-contain visible " src="{{url_for('static', filename='images/trash-can.png')}}"><p class="collapse group-hover:visible text-center text-sm text-white">This is Not Reversable</p></div></a></td>
                </tr>
        {% endfor %}
        </table>
    </body>    
</head>